 /*.col_id {
     width: 8%;
 }

 .col_fecha_registro {
     width: 17%;
 }

 .col_aplicacion {
     width: 20%;
 }

 .col_trazabilidad {
     width: 15%;
 }

 .col_nivel {
     width: 20%;
 }

 .col_proceso {
     width: 20%;
 }
 #copiableContainer {
    outline: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  
.p-datatable-wrapper {
    overflow: inherit !important;
}*/