/*

.mat-tab-group {
    background-color: red; 
    color: aqua; 
  }
  .mat-tab-body{
    background-color: red; 
    color: aqua; 
  }

.mat-mdc-tab-group cron-editor-container mat-primary mat-mdc-tab-group-stretch-tabs{
    background-color: burlywood; 
    color: yellow;
}

.mat-mdc-tab-header mat-mdc-tab-header-pagination-controls-enabled{
    background-color: black; 
    color: yellow;
}

.mat-mdc-tab-label-container{
    background-color: black; 
    color: yellow;
}
.mat-mdc-tab-list{
    background-color: brown; 
    color: yellow;
}

.mat-mdc-tab-labels{
    background-color: brown; 
    color: black;
}
.mat-mdc-tab-body-wrapper{
    background-color: yellow; 
    color: black;
}
.div.mat-mdc-tab-list{
    background-color: yellow; 
    color: black;
}

*/